body {
	margin: 0;
}
.container {
	height: 100vh;
	height: 100vh;
	background: radial-gradient(#190d0d, #c52626);
	display: flex;
}
.sharingan-container {
	width: 300px;
  	height: 300px;
  	margin: auto;
}
.circle {
	border-radius: 50%
}
.abs-center {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
/* .core-inner */
.eye-inner {
	width: 40px;
	height: 40px;
	border-radius: 50%;
    background-color: #0c0404;
    box-shadow: 0px 0px 7px 5px #ec2c2c, 0px 0px 10px 10px #3e0a0a inset;
}
.eye-outer {
	width: 130px;
    height: 130px;
    border: 1px solid #0c0404;
    box-shadow: 0px 0px 7px 5px #ec2c2c;
}
.eye-wrapper {
	width: 180px;
	height: 180px;
	background-color: #a50909; 
}
.eye {
	width: 220px;
	height: 220px;
	background-color: #a50909;
	border: 10px solid #000;
}
.tomoe-container {
	position: relative;
	width: 100%;
	height: 100%;
	animation-name: sharingan-anim;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.tomoe {
    position: absolute;
    width: 25px;
    height: 25px;
    top: calc(50% - 76px);
    left: calc(50% - 15px);
    transform-origin: -10px 110px;
    border-radius: 50%;
    background-color: #000
}
.tomoe-1 {
    transform: rotate(0deg);
}
.tomoe-2 {
    top: 100px;
    left: 135px;
    transform: rotate(50deg);
}
.tomoe-3 {
	left: 200px;
    top: 170px;
    transform: rotate(-57deg);
}
@keyframes sharingan-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}